/* Write the CSS for you answer here */

#container {
    position: absolute;
    top: 100px;
    left: 280px;

}

#background {
    z-index: 1;
}

#foreground-tree {
    position: absolute;
    left: 0px;
    top: 100px;
    z-index: 3;
    width: 700px;
}

.bauble {
    position: absolute;
}

#darkblue-bauble {
    left: 50px;
    top: 280px;
    z-index: 4;
}

#blue-bauble {
    left: 200px;
    top: 300px;
    z-index: 2;
}

#red-bauble {
    left: 300px;
    top: 330px;
    z-index: 4;
}

#pink-bauble {
    left: 450px;
    top: 290px;
    z-index: 4;
}

#orange-bauble {
    left: 570px;
    top: 310px;
    z-index: 4;
}

#green-bauble {
    left: 400px;
    top: 190px;
    z-index: 4;
}
